[submodule "ms-client-gateway"]
	path = ms-client-gateway
	url = https://github.com/carlosdiazz/nest_ms_gateway
[submodule "ms-products"]
	path = ms-products
	url = https://github.com/carlosdiazz/nest_ms_product
[submodule "ms-orders"]
	path = ms-orders
	url = https://github.com/carlosdiazz/nest_ms_orders
[submodule "ms-payments"]
	path = ms-payments
	url = https://github.com/carlosdiazz/nest_ms_payments
[submodule "nest_ms_auth"]
	path = nest_ms_auth
	url = https://github.com/carlosdiazz/nest_ms_auth
